frame img { 
    padding-top: 25px;
}

.headtext { 
    padding-top: 3rem;
}

.headtext h1 {
    font-size: 25px;
}

.headtext p { 
    font-size: 15px;
}

.frame h1{
    margin-top: 2rem;
    font-size: 16px;
    font-weight: bold;
}

.frame  p{
    font-weight: bold;
    font-size: 14px;
}

@media screen and (min-width: 960px) {

    .frame { 
        width: 268px;
        height: 196px;
    }


    .frame img { 
        padding-top: 25px;
        padding-left: 25px;
    }

   .frame h1{
        font-size: 16px;
        font-weight: bold;
        padding-left: 25px;
    }

    .frame p{
        font-weight: bold;
        font-size: 14px;
        padding-left: 25px;
    }
}